
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.history
requests_responses/*
!requests_responses/list_of_steps.txt
.playwright-cli
.env
